
body {
    font-family: 'Galdeano', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 3% 0 3%;
  }

  /**NAV*/
.container-nav{
    width: 100%;
    display: flex; 
    padding-left: 1rem;
    padding-right:1rem;
    margin-top: 20px;
    justify-content: flex-end;
}
nav{
    font-family: 'Galdeano', sans-serif;
    color: white;
    list-style: none;
    position:fixed;
    background-color:transparent;
    z-index: 2;
}

nav a:hover{
    text-decoration: none;
    display: block;
    color: white;
}

nav > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    padding: 10px;
  }
  
 /**HOME*/
 
 .home-info{
     display: flex;
 }
 
 .video{
    width:50%;
    height: auto;
    z-index: 0;
}

.logo-wrap{
    position: absolute;
    display: flex;
    width: 100%;
    z-index:500;   
}

.logo{
    justify-content: flex-start; 
    width: 20%; 
    height: 20%;  
    margin-left: 20%;
    margin-top: 10%;
}

.title-wrap{
    display: flex;
}

.title-home{
    font-family: 'News Cycle', sans-serif;
    color:white;
    position: relative;
    font-size:6rem;
    font-weight:bold;
    margin-top: 40px;
    margin-left: 40px;
    align-content: center;
    z-index: 10;
}

.subtitle-wrap{
    display: flex;
}

.subtitle-home {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    margin-top: 60px;
    transform: translate(-50%, -50%); /**WTF*/
    z-index:500; /**is this even legal?*/
    font-size: 22px;
    font-family: 'Galdeano', sans-serif;
    color: white;
    width: 500px;
}

.header-subtitle{
    position: absolute;
    z-index: 2;
    margin-left: 200px;
    margin-top: -10px;
    font-weight:normal;
}

/**PRODUCTS*/
.div-feature{
    background:#707070; 
 } 
 
 .product-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 0;
}

.product-card{
    width: 28%;
    background: white;
}

/**SINGLE PRODUCT INFO*/
.feature-single-product{
    background:#707070;
}

.feature-single-product-card{
    background:white;
    margin: 60px; 
}

.img-products{
    width: 60%;
}

/**ABOUT ME*/

.p-about{
    float: left;
    padding-top:3%;
    width:30%;
    display: inline;
}

.img-mike{
    width: 15%;
    float:left;
    padding: 2%;
}

/*CONTACT*/
.social-media-row{
   clear: both;
    background: #d1e0e0;
    flex-direction: row;
}

.img-social-media{
    width: 3%;
    height: 3%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;  
}








  ​








