
/**old
body {
    font-family: 'Galdeano', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 3% 0 3%;
  }

  /**NAV*
.container-nav{
    width: 100%;
    display: flex; 
    padding-left: 1rem;
    padding-right:1rem;
    margin-top: 20px;
    justify-content: flex-end;
}
nav{
    font-family: 'Galdeano', sans-serif;
    color: white;
    list-style: none;
    position:fixed;
    background-color:transparent;
    z-index: 2;
}

nav a:hover{
    text-decoration: none;
    display: block;
    color: white;
}

nav > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    padding: 10px;
  }
  
 /**HOME*
 
 .home-info{
     display: flex;
     width:100%;
     height: 100vh;
     height: auto;
     z-index: 0;
 }

.video{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo-wrap{
    position: absolute;
    display: flex;
    z-index:500;   
}

.logo{
    align-content: flex-start;
    width: 20%; 
    height: 20%;  
    margin-left: 100%;
    margin-top: 10%;
}

.title-wrap{
    display: flex;
}

.title-home{
    font-family: 'News Cycle', sans-serif;
    color:white;
    font-size:3rem;
   
    font-weight:bold;
    justify-content: flex-start;
    z-index: 10;
    top: 20%;
    left: 0%;
    margin:0;
}

.subtitle-wrap{
    display: flex;
}

.subtitle-home {
    font-family: 'Galdeano', sans-serif;
    color: white;
    font-size: 2rem;
    position: absolute;
    width: 500px;
    justify-content: flex-start;
    top: 60%;
    left:30%;
    margin: 0;
}

.header-subtitle{
    position: absolute;
    z-index: 2;
    margin-left: 200px;
    margin-top: -10px;
    font-weight:normal;
}

/**PRODUCTS*
.div-feature{
    background:#707070; 
 } 
 
 .product-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 0;
}

.product-card{
    width: 28%;
    background: white;
}

/**SINGLE PRODUCT INFO*
.feature-single-product{
    background:#707070;
}

.feature-single-product-card{
    background:white;
    margin: 60px; 
}

.img-products{
    width: 60%;
}

/**ABOUT ME*

.p-about{
    float: left;
    padding-top:3%;
    width:30%;
    display: inline;
}

.img-mike{
    width: 15%;
    float:left;
    padding: 2%;
}

/*CONTACT*
.social-media-row{
   clear: both;
    background: #d1e0e0;
    flex-direction: row;
}

.img-social-media{
    width: 3%;
    height: 3%;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;  
}
**/

body, html{
    height: 100%;
    margin-top: 0;
    margin: 0, 1%;
    font-family: 'Staatliches', cursive;
    color: white;
    line-height: 1.5em;
    text-align: left;
    background-color: #323232;
}

.logo-wrap{
    display: flex;  
}

.logo{
    justify-content: center;
    margin-top: 15%;
    margin-left: 60%;
    width: 48%; 
    height: 40%;    
}

.container-nav{
    width: 100%;
    display: flex; 
    margin-top: 0;
    justify-content: flex-end;
    
    transform: translateX(-50%) translateY(-50%);
}

nav{
    color: white;
    font-size: 1rem;
    list-style: none;
    position:fixed;
    background-color:transparent;
    z-index: 2;
}

nav a:hover{
    text-decoration: none;
    display: block;
    color: white;
}

nav > ul > li {
    position: relative;
    display: inline;
    list-style: none;
    padding: 10px;
  }

.underline-hover::after {
    content: '';
    display: block;
    transition: width .3s;
    width: 0;
    height: 2px;
}

.underline-hover:hover::after {
    width: 100%;
   transition: width .3s;
}
  
.parallax1{
    background: url(../img/printer.jpg);
    min-height: 100%;
    display: flex;
    top: 0;
} 

.heading{
    color: #fff;
    position: absolute;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 20%;
    margin-left: 30%;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
}

.heading-sm{
    position: absolute;
    font-size: 1.2rem;
    text-shadow: 0 0 10px #000;
    margin-top: 7%;
    font-weight: normal;
    justify-content: center;
}

div.parallax2{
    background: url(../img/dinos.jpg);
    min-height: 60%;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: none;
}   

.heading-sm-dino{
    position: absolute;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 10px #000;
    margin-top: 7%;
    margin-left: 10%;
    font-weight: normal;
    justify-content: center;
}

.parallax3{
    background: url(../img/spools.jpg);
    background-size: 400px;
    background: cover;
    min-height: 60%;
}   

.parallax4{
    min-height:70%;
    background: url(../img/mike.jpg);
}   

.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.two-col{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}

 /**PRODUCTS**/

 .product-holder{
    width: 90%;
    height: 90%;
    background: #ccc;
    z-index: 0;
    margin: 0 auto;
    margin-top: 8%;
}

.product-img{
    width: 37%;
    margin-left: 3%;
    margin-top: 5%;
    border: 3px solid grey;

}

.thumbnails-properties{
    margin-left: 6%;
}

.product-info{
    font-family: 'Anton', sans-serif;
    margin-left: 20%;
    color: black;
    display: flex;
    display:inline;
}

.p-product-info{
 align-items: center; 

}

.imgStyle{
    height: 10%;
    width: 10%;
    border: 3px solid grey;
}

.rotate-elephant{
    transform: rotate(100deg);

}

.sm-logo{
    width: 10%;
    top: 0;
    margin-top: 3%;
    margin-left: 41%;
    position: absolute;
    z-index: 500;
    padding: 0;
    }

section{
    overflow: auto;
    padding: 20%, 50%; 
    margin-left: 2%;
}

.dark{
    overflow: auto;
    padding: 50px, 80px;
    background-color: #323232;
    color: #ccc;
}

.social-media-row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
 }
 
 .img-social-media{
    width: 20%;
    margin-left: 10%;
 }


@media(max-width: 768px) {
    .heading{
        font-size: 250%;
    }

    .heading-sm{
        font-size: 190%;
    }

    .two-col{
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .sm-logo{ 
        width: 7%;
    }

   









  ​








