/** position absolute: doesn't stay in the flow, won't move because the other elements have moved*/


body, html{
    height: 100%;/**will use percentage so it is relative to the parent element*/
    margin-top: 0;
    margin: 0, 1%;
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 1.5em; /**relative to the parent*/
    text-align: left;
    background-color: #323232;
}

h3{
    margin-left: 30%;
}
.logo{
    align-items: center;
    height: 25vh;
    margin-bottom: 100%;
}

.container-nav{
    width: 100%;
    display: flex; 
    margin-top: 0;
    justify-content: flex-end;
}

nav{
    display: flex;
    list-style: none;
    position:fixed;
    background-color: rgba(192,192,192,0.5);
    z-index: 2; 
    
}

.nav-background{
    background-color: #ccc;
    opacity: 0.5;
    z-index: 1;
    display:flex;
    position: fixed
}

nav > ul > li {
    font-size: 2rem;
    color: white;
    position: relative;
    display: inline;
    list-style: none;
    padding: 10px;
    opacity: 1;
  }

  nav > ul > li > a{
    position: relative;
    color: white;
    font-weight: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

a{
    color: white;
    text-decoration: none;
}

a:hover,
a:active {
  color: white;
}

nav > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    /**left: 0;*/
    background: linear-gradient(to right, #fff 49%,#ffffff05 46%);
    background-size: 200%; /**size of the underline not in hover*/
    background-position: 100% 4px;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

a:hover:before, 
a:active:before {
  background-position: 0 0;
}

/**parallax is where I have the static images*/

.parallax1{
    background: url(../img/printer.jpg);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-size: contain;
    background-attachment: fixed;
} 

.heading{
    color: #fff;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
}

.heading-sm{
    font-size: 1.2rem;
    text-shadow: 0 0 10px #000;
    margin-top: 7%;
    font-weight: normal;
    justify-content: center;
}

div.parallax2{
    background: url(../img/dinos.jpg);
    min-height: 90%;
    background-size: contain;
    background-attachment: fixed;
}   

.heading-sm-dino{
    position: absolute;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 10px #000;
    margin-top: 7%;
    margin-left: 10%;
    font-weight: normal;
    justify-content: center;
    background-repeat: none;
}

.parallax3{
    background: url(../img/spools.jpg);
    min-height: 90%;
    background-size: contain;
    background-attachment: fixed;
} 

.heading-sm-spool{
    position: absolute;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 10px #000;
    margin-top: 7%;
    margin-left: 10%;
    font-weight: normal;
    justify-content: center;
    background-repeat: none;
}

.parallax4{
    background: url(../img/mike.jpg);
    min-height:90%;
    background-size: contain;
    background-attachment: fixed;
}   

.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /**makes background fixed*/
}

.two-col{
    float: left;
    width: 40%;
    padding: 0 4%;
}

 /**PRODUCTS**/

 .product-holder{
    width: 90%;
    height: 90%;
    background: #ccc;
    z-index: 0;
    margin: 0 auto;
    margin-top: 8%;
    padding-top: 5%;
}

.product-img{
    width: 100%;
    margin-top: 5%;
    border: 3px solid grey;
}

.thumbnails-properties{
    margin-left: 6%;
}

.product-info{
    font-family: 'Anton', sans-serif;
    color: black;
}

.p-product-info{
    font-family: 'Lato', sans-serif;
    color:black;
    padding: 0 4%;
    text-align: left;
}

.products-sale{
    display:flex;
    flex-direction: columns;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4%;
    overflow: hidden;
}

.img-product-section{
    width: 320px;
    height: 240px;
    border: 3px solid grey;
    margin: 1%;
}

.imgStyle{
    height: 30%;
    width: 30%;
    border: 3px solid grey;
}

.sm-logo{
    width: 10%;
    top: 0;
    margin-top: 3%;
    margin-left: 41%;
    position: absolute;
    z-index: 500;
    padding: 0;
    }

section{
  
    overflow: auto;
    padding: 20%, 50%; 
    margin-left: 2%;
    font-family: 'Lato', sans-serif;
}

.dark{
    overflow: auto;
    padding: 50px, 80px;
    color: #fff;
    background-color: #323232;
}

.social-media-row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
 }
 
 .img-social-media{
    width: 20%;
    margin-left: 30%;
 }


@media(max-width: 768px) {
    .heading{
        font-size: 0.7rem;
        font-family: 'Lato', sans-serif;
        line-height: 0.5rem;
        margin: 2%;
        
    }

    .heading-sm{
        font-size: 0.7rem;
        font-family: 'Lato', sans-serif;
        line-height: 0.5rem;
    }


   /** .heading{
        color: #fff;
       
        text-align: center;
        font-size: 4.5rem;
        text-transform: uppercase;
        text-shadow: 0 0 5px #000;
    }
    
    .heading-sm{
        font-size: 1.2rem;
      
        text-shadow: 0 0 10px #000;
        margin-top: 7%;
        font-weight: normal;
        justify-content: center;
    } */


    .two-col{
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .sm-logo{ 
        width: 15%;
        
    }

    .product-img{
        width: 40%;
        margin-top: 15%;
    margin-left: 30%;
    width: 30%; 
    height: 40%;  
    }

    .logo{
        align-items: center;
        height: 10vh;
        margin-bottom: 100%;
    }


    .container-nav{
        height: 7%;
        font-size: 0.2rem;
        width: 100%;
        display: flex; 
        margin-top: 0;
        justify-content: flex-end;
    }
    

   









  ​








